@use "../../../style/Variable.scss" as var;

main {
  width: 100%;

  .main_inner {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    margin-top: 120px;
    padding: 0 1rem;
  
    .item_box {
      width: 100%;
      display: flex;
      justify-content: center;
  
      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;

        &:nth-child(2) {
          border-left: 1px solid var.$primary-color;
        }
  
        figure {
          width: fit-content;
          height: fit-content;
        }

        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 2rem;
          padding: 1.5rem;

          .title {
            font-family: 'Light';
            text-align: center;
  
            p {
              color: var.$gray-2;
              font-size: clamp(1rem, 5vw, 1.3rem);
              margin-bottom: 0.25rem;
            }
  
            h1 {
              font-size: clamp(2rem, 5vw, 2.2rem);
            }
          }
  
          .description {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            align-items: center;
            color: var.$gray-2;
            
            p {
              text-align: center;
              line-height: 1.3;
              font-size: 1rem;
            }

            button {
              border: 1px solid var.$secondary-color;
              background-color: transparent;
              padding: 0.75rem 1.25rem;
              color: var.$secondary-color;
              font-family: 'Regular';
              font-size: 1rem;
              transition: .3s;
              cursor: pointer;
    
              &:hover {
                background-color: var.$secondary-color;
                color: var.$gray-1;
              }
            }
          }
        }
      }
    }
  }

  .sns_banner {
    width: 100%;
    padding: 3rem 1rem;
    background-image: url(../../../../public/img/main/sns_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    .text {
      width: 100%;
      max-width: 1400px;
      margin: auto;
      color: var.$gray-1;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      align-items: center;
      text-align: center;

      h2 {
        font-family: 'Light';
        font-size: clamp(1.5rem, 2.5vw, 2.5rem);
      }

      p {
        font-size: clamp(1rem, 2.5vw, 1.2rem);
        line-height: 1.3;
      }
    }

    .icon {
      width: 100%;
      max-width: 1400px;
      margin: auto;
      display: flex;
      gap: 3rem;
      justify-content: center;
        
      img {
        width: clamp(30px, 5vw, 60px);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .main_inner {
      margin-top: 0;
      padding: 3rem 1rem;

      .item_box {
        padding: 0;
        flex-direction: column;
        gap: 3rem;

        .item {
          background-color: transparent;
          box-shadow: none;

          &:nth-child(2) {
            border-left: none;
          }

          figure {
            width: 100%;

            img {
              width: 100%;
            }
          }

          .info {
            gap: 1.25rem;

            .title {
              p {
                font-size: clamp(1rem, 2.5vw, 1.3rem);
              }

              h1 {
                font-size: clamp(1.7rem, 2.5vw, 2rem);
              }
            }

            .description {
              p {
                font-size: clamp(0.85rem, 2.5vw, 1rem);
              }

              button {
                font-size: clamp(0.85rem, 2.5vw, 1rem);
              }
            }
          }
        }
      }
    }
  }
}