main {
  width: 100%;
}
main .main_inner {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  margin-top: 120px;
  padding: 0 1rem;
}
main .main_inner .item_box {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .main_inner .item_box .item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}
main .main_inner .item_box .item:nth-child(2) {
  border-left: 1px solid #1B4569;
}
main .main_inner .item_box .item figure {
  width: fit-content;
  height: fit-content;
}
main .main_inner .item_box .item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
main .main_inner .item_box .item .info .title {
  font-family: "Light";
  text-align: center;
}
main .main_inner .item_box .item .info .title p {
  color: #777777;
  font-size: clamp(1rem, 5vw, 1.3rem);
  margin-bottom: 0.25rem;
}
main .main_inner .item_box .item .info .title h1 {
  font-size: clamp(2rem, 5vw, 2.2rem);
}
main .main_inner .item_box .item .info .description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  color: #777777;
}
main .main_inner .item_box .item .info .description p {
  text-align: center;
  line-height: 1.3;
  font-size: 1rem;
}
main .main_inner .item_box .item .info .description button {
  border: 1px solid #EA501A;
  background-color: transparent;
  padding: 0.75rem 1.25rem;
  color: #EA501A;
  font-family: "Regular";
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
main .main_inner .item_box .item .info .description button:hover {
  background-color: #EA501A;
  color: #ffffff;
}
main .sns_banner {
  width: 100%;
  padding: 3rem 1rem;
  background-image: url(../../../../public/img/main/sns_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main .sns_banner .text {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  align-items: center;
  text-align: center;
}
main .sns_banner .text h2 {
  font-family: "Light";
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
main .sns_banner .text p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 1.3;
}
main .sns_banner .icon {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  gap: 3rem;
  justify-content: center;
}
main .sns_banner .icon img {
  width: clamp(30px, 5vw, 60px);
}
@media screen and (max-width: 1024px) {
  main .main_inner {
    margin-top: 0;
    padding: 3rem 1rem;
  }
  main .main_inner .item_box {
    padding: 0;
    flex-direction: column;
    gap: 3rem;
  }
  main .main_inner .item_box .item {
    background-color: transparent;
    box-shadow: none;
  }
  main .main_inner .item_box .item:nth-child(2) {
    border-left: none;
  }
  main .main_inner .item_box .item figure {
    width: 100%;
  }
  main .main_inner .item_box .item figure img {
    width: 100%;
  }
  main .main_inner .item_box .item .info {
    gap: 1.25rem;
  }
  main .main_inner .item_box .item .info .title p {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
  }
  main .main_inner .item_box .item .info .title h1 {
    font-size: clamp(1.7rem, 2.5vw, 2rem);
  }
  main .main_inner .item_box .item .info .description p {
    font-size: clamp(0.85rem, 2.5vw, 1rem);
  }
  main .main_inner .item_box .item .info .description button {
    font-size: clamp(0.85rem, 2.5vw, 1rem);
  }
}

/*# sourceMappingURL=Main.css.map */
