@use "../../style/Variable.scss" as var;

.page_title {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .text {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    color: var.$gray-1;

    h1 {
      font-family: 'Oswald';
      margin-bottom: 1rem;
      font-size: clamp(2.5rem, 5vw, 3.5rem);
      letter-spacing: 10px;
    }

    p {
      white-space: pre-line;
      font-size: clamp(1rem, 2.5vw, 1.3rem);
      line-height: 1.3;
    }
  }
}