@use "../../../style/Variable.scss" as var;

.brand {
  width: 100%;
  margin-top: 120px;

  .contents {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 6rem 1rem;

    .title {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .subtitle {
        color: var.$gray-6;
        font-size: clamp(1.2rem, 2.5vw, 1.5rem);
      }

      h2 {
        width: fit-content;
        margin: auto;
        padding: 0.5rem 0;
        border-top: 1px solid var.$gray-6;
        color: var.$gray-6;
        font-size: clamp(2rem, 3vw, 4rem);
        font-family: 'Bold';
        letter-spacing: -0.05rem;
      }

      .description {
        margin-top: 1rem;
        color: var.$gray-3;
        font-size: clamp(0.85rem, 2.5vw, 1.2rem);
      }
    }

    .card_box {
      width: 100%;
      padding: 6rem 0;
      display: flex;
      flex-direction: column;
      gap: 6rem;
    }

    .banner {
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      h3 {
        font-family: 'Light';
        line-height: 1.4;
        font-size: clamp(1.3rem, 2.5vw, 1.8rem);
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 0;

    .contents {
      padding: 4rem 1rem;

      .card_box {
        padding: 4rem 0;
        gap: 6rem;
      }

      .banner {
        flex-direction: column;
        gap: 2rem;

        h3 {
          text-align: center;
          font-size: clamp(0.9rem, 2.5vw, 1.2rem);
        }
      }
    }
  }
}