$primary-color: #1B4569;
$secondary-color: #EA501A;
$gray-1: #ffffff;
$gray-2: #777777;
$gray-3: #666666;
$gray-4: #555555;
$gray-5: #444444;
$gray-6: #333333;
$gray-7: #222222;
$gray-8: #111111;
$gray-9: #000000;
$info: #396cd5;

@mixin title() {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@mixin main() {
  font-family: 'Light';
  color: $primary-color;
  font-size: clamp(2rem, 3vw, 4.5rem);
}

@mixin sub() {
  color: $gray-2;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
}