@use "../../../style/Variable.scss" as var;

.slider {
  width: 100%;
  padding: 5rem 0;

  .container {
    width: 100%;
    position: relative;
    padding: 5rem 0;

    .wrap {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      padding: 2rem 0;

      .slide_item {
        flex-shrink: 0;
        align-self: center;

        img {
          filter: grayscale(100%);
          transition: .3s;

          &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .container {
      padding: 2rem 0;
    }
  }
}