@font-face {
  font-family: 'Light';
  src: url(../public/font/Pretendard-Light.woff2);
}

@font-face {
  font-family: 'Regular';
  src: url(../public/font/Pretendard-Regular.woff2);
}

@font-face {
  font-family: 'Bold';
  src: url(../public/font/Pretendard-Bold.woff2);
}

html {
  font-size: 16px;
  font-family: 'Regular';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img, video {
  display: block;
  max-width: 100%;
}

input, button, label {
  display: block;
}

$primary-color: #1B4569;
$secondary-color: #EA501A;
$gray-1: #ffffff;
$gray-2: #777777;
$gray-3: #666666;
$gray-4: #555555;
$gray-5: #444444;
$gray-6: #333333;
$gray-7: #222222;
$gray-8: #111111;
$gray-9: #000000;
$info: #396cd5;